<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xin.yuki.auth.core.mapper.GroupMapper">
    <sql id="Base_Column_List">
        g.name,
        g.description,
        g.id,
        g.version
    </sql>
    <resultMap id="BaseResultMap" type="xin.yuki.auth.core.entity.GroupModel">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="version" property="version"/>
    </resultMap>

    <resultMap id="RoleResultMap" type="xin.yuki.auth.core.entity.GroupModel" extends="BaseResultMap">
        <collection column="id" property="roles" fetchType="lazy"
                    select="xin.yuki.auth.core.mapper.RoleMapper.findByGroupId"/>
    </resultMap>

    <resultMap id="UserResultMap" type="xin.yuki.auth.core.entity.GroupModel" extends="BaseResultMap">
        <collection column="id"
                    property="users" fetchType="lazy"
                    select="xin.yuki.auth.core.mapper.UserMapper.findByGroupId"/>
    </resultMap>

    <resultMap id="FullResultMap" type="xin.yuki.auth.core.entity.GroupModel" extends="BaseResultMap">
        <collection column="id" property="roles" fetchType="lazy"
                    select="xin.yuki.auth.core.mapper.RoleMapper.findByGroupId"/>
        <collection column="id"
                    property="users" fetchType="lazy"
                    select="xin.yuki.auth.core.mapper.UserMapper.findByGroupId"/>
    </resultMap>


    <!--auto generated by codehelper on 2018-12-24-->
    <select id="findByUserId" resultMap="RoleResultMap">
        select
        <include refid="Base_Column_List"/>
        from groups g
        left join users_groups ug on g.id=ug.group_id
        left join users u on u.id=ug.user_id
        where u.id=#{userId}
    </select>


    <select id="findByRoleId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from groups g
        left join groups_roles gr on g.id=gr.group_id
        left join roles r on r.id=gr.role_id
        where r.id=#{roleId}
    </select>


</mapper>
