<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xin.yuki.auth.core.mapper.UserMapper">
    <sql id="Base_Column_List">
               u.username,
               u.name,
               u.password,
               u.enabled,
               u.mobile_number,
               u.email,
               u.additional_information,
               u.id
    </sql>
    <resultMap id="BaseResultMap" type="xin.yuki.auth.core.entity.UserModel">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="enabled" property="active"/>
        <result column="mobile_number" property="mobileNumber"/>
        <result column="email" property="email"/>
        <result column="additional_information" property="additionalInformation"
                typeHandler="xin.yuki.auth.core.type.handler.JSONTypeHandler"/>
        <result column="version" property="version"/>
    </resultMap>



</mapper>
